header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 10px;
    font-size: larger;
}

h1 {
    font-size: xx-large;
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #ee479b;
    }
}

.active {
    color: #3ab1ad;
    
    &:hover {
        color: #3ab1ad;
    }
}