<div class="container">
    <table mat-table [dataSource]="tableH8lio" class="mat-elevation-z8">

        <!-- option Column -->
        <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="align-left"> {{element.option}} </td>
            <th mat-footer-cell *matFooterCellDef></th>
        </ng-container>

        <!-- standardOption Column -->
        <ng-container matColumnDef="standardOption">
            <th mat-header-cell *matHeaderCellDef>Standard</th>
            <td mat-cell *matCellDef="let element"> {{element.standardOption }} </td>
            <th mat-footer-cell *matFooterCellDef></th>
        </ng-container>

        <!-- premiumOption Column -->
        <ng-container matColumnDef="premiumOption">
            <th mat-header-cell *matHeaderCellDef>Premium</th>
            <td mat-cell *matCellDef="let element"> {{element.premiumOption}} </td>
            <th mat-footer-cell *matFooterCellDef><button mat-fab extended color="primary" (click)="onViewSubscription()">Subscribe</button></th>
        </ng-container>

        <!-- enterpriseOption Column -->
        <ng-container matColumnDef="enterpriseOption">
            <th mat-header-cell *matHeaderCellDef>Enterprise</th>
            <td mat-cell *matCellDef="let element"> {{element.enterpriseOption}} </td>
            <th mat-footer-cell *matFooterCellDef><button mat-fab extended color="primary" (click)="onViewSubscription()">Subscribe</button></th>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</div>